/*Top part*/
#guide_body {
    font-family: "Parkinsans", serif;
    background-image: url(https://images4.alphacoders.com/133/1331878.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2px solid;
}

#sections_body {
    font-family: "Parkinsans", serif;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 2px solid;
}

#main_body {
    font-family: "Parkinsans", serif;
    background-image: url(https://images4.alphacoders.com/133/1331878.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2px solid;
}

#account_body {
    font-family: "Parkinsans", serif;
    background-image: url(https://images4.alphacoders.com/133/1331878.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2px solid;

}
/*tools to change scrollbar*/
body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: rgb(63, 54, 63);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(104, 104, 106);
    border-radius: 20px;
    border: none;
}
/*tools to change scrollbar*/
/*top menu*/
#top_bar {
    background-color: rgba(168, 168, 169, 0.758);
    height: 30px;
    padding: 7px;
    margin-top: -9px;
    margin-left: -9px;
    margin-right: -9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: nowrap row;
    overflow: hidden;
    color: whitesmoke;
    text-decoration-line: none;
}

#home_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 510px;
}

#search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 320px;
}

#search_bar {
    border-radius: 7px;
    height: 20px;
    width: 300px;
    border-style: groove;
    border-color: rgba(0, 0, 0, 0.636);
    color: black;
    background-color: rgb(255, 255, 255);
}

#search_button {
    border-style: none;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    margin-left: -26px;
    margin-bottom: 0px;
    height: 22px;
    width: 25px;
}

#account_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 123px;
}
/*top menu*/
/*bottom menu*/
#bottom_bar {
    background-color: rgb(200, 200, 200);
    padding-inline: 9px;
    margin-left: -9px;
    margin-right: -9px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*bottom menu*/
.text_settings {
    color: whitesmoke;
    text-decoration-line: none;
    transition: 150ms;
}

.text_settings:hover {
    color: rgb(35, 34, 34);
    text-decoration-line: underline;
}

/*Top part*/
/*Middle part*/
#middle_part {
    margin-bottom: -5px;
    margin-left: -5px;
    margin-right: -5px;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
    overflow: hidden;
}
/*menu for customers*/
#section_choice {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 620px;
}

#men_section_block {
    color: whitesmoke;
    text-decoration-line: none;
}

#women_section_block {
    color: whitesmoke;
    text-decoration-line: none;
}
/*menu for customers*/
/*filter quantity size guide*/
#top_block {
    margin-top: 15px;
    margin-bottom: -5px;
    width: 100%;
    max-height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
}

#quantity_of_products {
    background-color: rgb(206, 205, 210);
    border-radius: 10px;
    max-height: fit-content;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filters_block {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 8%;
}

.filters {
    color: whitesmoke;
    ;
    margin: 0px;
    background-color: rgb(206, 205, 210);
    border-radius: 10px;
    padding-inline: 10px;
    text-decoration-line: none;
    transition: 150ms;
}

.filters:hover {
    color: rgb(35, 34, 34);
    text-decoration-line: underline;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.size_guide_block {
    border-style: groove;
    display: flex;
}
/*filter, quantity, size guide*/
/*catalog*/
#whole_block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: wrap;
}

.left_and_right_columns {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 511px;
    padding: 20px;
    color: black;
}

.middle_column {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 600px;
    max-width: fit-content;
}

.description {
    font-size: 13px;
    width: 225px;
    height: 23px;
    margin-top: -3px;
    margin: 0px 0px 0px 3px;
    overflow-x: auto;
}

.big_items {
    min-height: 350px;
    height: 778px;
    margin-bottom: 25px;
}
/*catalog*/
/*navigation between pages*/
#bottom_block {
    width: 1300px;
    height: 75px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    color: whitesmoke;
}

.pages_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 130px;
    height: 30px;
    margin-top: 18px;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
}

.pages_numbers {
    display: flex;
    color: whitesmoke;
    text-decoration-line: none;
    transition: 150ms;
}

.pages_numbers:hover {
    color: rgb(35, 34, 34);
    text-decoration-line: underline;
}
/*navigation between pages*/
/*login form*/
#container_form {
    width: 100%;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 400px;
    height: 40%;
    background-color: rgb(168, 168, 169, 0.758);
    border-radius: 5%;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
}

#login_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: whitesmoke;
    margin-top: -25px;
}

#remember_button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.text_form {
    font-size: 13px;
    color: whitesmoke;
}

.login_form {
    border-radius: 10px;
}
/*login form*/
/*table size guide*/
#container_table{
    height: 620px;
}

.size_guide{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(189, 189, 190);
}

#title_table{
    margin-bottom: -15px;
}

#table_body{
    background-color: black;
}

#grid {
    height: 492px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    overflow: hidden;
}

.gray {
    background-color: rgb(189, 189, 190);
    border-style: inset;
    border-color: black;
    align-items: center;
    padding: 10px;
    height: 60px;
}

.lightgray {
    background-color: rgba(211, 211, 211, 0.729);
    border-style: inset;
    border-color: black;
    align-items: center;
    height: 60px;
}
/*table size guide*/
/*Middle part*/
/*Bottom part*/
/*bottom menu*/
footer {
    background-color: rgb(168, 168, 169, 0.758);
    height: 110px;
    margin-bottom: -10px;
    margin-left: -9px;
    margin-right: -9px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;
}

.footer_navigation_block {
    display: flex;
    flex-flow: column wrap;
}

.footer_bottom_sections {
    color: whitesmoke;
    margin-top: 5px;
}

.footer_text {
    color: whitesmoke;
    text-decoration-line: none;
    font-size: 13px;
    transition: 150ms;
}

.footer_text:hover {
    color: rgb(35, 34, 34);
    text-decoration-line: underline;
}
/*bottom menu*/
/*Bottom part*/