body{
    font-family: "Parkinsans", serif ;
    background-image: url(https://wallpapercave.com/wp/wp14172971.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#logo{
    border: 8;
    border-color: antiquewhite;
    color: whitesmoke;
    text-decoration-line: none;
}
.links{
    color: whitesmoke;
    text-decoration-line: none;
    display: inline;
}
.lorem{
    color: whitesmoke;
}
#references{
    align-self: self-end;
    color: whitesmoke;
    text-decoration-line: none;
    display: inline;
}